node_modules
dist
.env
.env.local
.env.development
.env.production
.env.development.local
.env.production.local
/src/generated/prisma
*.tsbuildinfo
pnpm-lock.yaml
tsconfig.build.tsbuildinfo
tsconfig.tsbuildinfo